<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Answers</title>
</head>
<body>
    <ul class="question-list">
        <% Questions.forEach(details=>{ %>
        <li class="question-item">
            <div class="question-item-name"><%=details.content%></div>
            <form class="answer" action="" method="POST">
                <input type="text" name="answer-text">
                <button type="submit">Submit</button>
            </form>
        </li>
    <% }) %>
    </ul>
</body>
</html>